<section class="position-relative cover-background tz-builder-bg-image border-none xs-padding-60px-tb hero-style2 bg-img-one" id="hero-section2" data-img-size="(W)1920px X (H)800px" style="background:linear-gradient(rgba(22,22,22,0.65), rgba(22,22,22,0.65)), url('/img/bg-casas-1.jpg')">
            <div class="container one-fourth-screen position-relative">
                <div class="row">
                    <div class="slider-typography text-center xs-position-static">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle equalize xs-equalize-auto">
                                <!-- slider text -->
                                <div class="col-md-6 col-sm-7 col-xs-12 text-left xs-text-center">
                                    <h2 class="sm-title-extra-large xs-title-extra-large alt-font title-extra-large-2 line-height-55 text-white tz-text margin-seventeen-bottom">La mejor forma de alquilar, comprar o vender una propiedad es con Te Lo Alquilo App, tenemos el mejor servicio del mercado!</h2>
                                </div>
                                <!-- end slider text -->
                                <!-- contact form -->
                                <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 position-relative xs-margin-thirteen-bottom ">
                                    <div class="bg-greenish-blue-rgba tz-background-color padding-seventeen border-radius-6 text-center xs-padding-thirteen">
                                        <h6 class="alt-font margin-twenty-bottom font-weight-700 tz-text text-white">INGRESO DE USUARIO</h6>
                                        <form action="/users/signin" method="POST">
                                            <input type="text" name="username" id="username" data-email="required" placeholder="*Usuario" class="medium-input border-radius-4">
                                            <input type="text" name="password" id="password" data-email="required" placeholder="*Contraseña" class="medium-input border-radius-4">
                                            <button type="submit" class="hero-submit btn btn-large propClone bg-dark-speech-blue text-white display-block width-100">INGRESE</button>                                                
                                        </form>
                                        <div class="text-medium width-60 margin-lr-auto md-width-70 sm-width-100 tz-text margin-thirteen-bottom" id="tz-slider-text107">No tiene una cuenta?<br> Registrese en <a href="/users/signup">Registro de Usuarios</a></div>
                                    </div>
                                </div>
                                <!-- end contact form -->
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </section>