<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Te Lo Alquilo - APP</title>

    <!-- CSS Boostrap -->
    <!-- favicon -->
    <link rel="shortcut icon" href="images/icon/favicon.png">
    <!-- animation -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <!-- themify-icons -->
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/css/owl.transitions.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" /> 
    <!-- magnific popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css" /> 
    <!-- base -->
    <link rel="stylesheet" href="/css/base.css" /> 
    <!-- elements -->
    <link rel="stylesheet" href="/css/elements.css" />
    <!-- responsive -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!--[if IE]>
        <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <header class="header-style4" id="header-section9">
        <!-- nav -->
        <nav class="navbar bg-white white-header alt-font no-margin no-padding shrink-medium-header light-header">
            <div class="header-top bg-light-gray tz-header-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="mail">CONTÁCTENOS: <a href="mailto:info@teloalquilo.com" class="text-light-gray tz-text">INFO@TELOALQUILO.COM</a></div>
                            <!-- social elements -->
                            <div class="social float-right">
                                <a href="#"><i class="fa fa-facebook tz-icon-color"></i></a>
                                <a href="#"><i class="fa fa-twitter tz-icon-color"></i></a>
                                <a href="#"><i class="fa fa-google-plus tz-icon-color"></i></a>
                                <a href="#"><i class="fa fa-linkedin tz-icon-color"></i></a>
                                <a href="#"><i class="fa fa-pinterest tz-icon-color"></i></a>
                            </div>
                            <!-- end social elements -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom bg-white tz-header-bg navigation-menu">
                <div class="container">
                    <div class="row">
                        <!-- logo -->
                        <div class="col-md-3 col-sm-4 col-xs-9">
                            <a href="#hero-section2" class="inner-link"><img alt="" src="images/logo.png" data-img-size="(W)163px X (H)39px"></a>
                        </div>
                        <!-- end logo -->
                        <div class="col-md-9 col-sm-8 col-xs-3 position-inherit">
                            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse pull-right">
                                <ul class="nav navbar-nav font-weight-600">
                                    <li class="propClone"><a class="inner-link" href="/">HOME</a></li>
                                    <li class="propClone"><a class="inner-link" href="/users/signup">REGISTRESE</a></li>
                                    <li class="propClone"><a class="inner-link" href="/properties">PROPIEDADES</a></li>
                                    <li class="propClone"><a class="inner-link" href="/contact">CONTÁCTENOS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav> 
        <!-- end nav -->
    </header>

    <!-- FIN SECCION HEADER ESTATICA -->

    <!-- SECCION BODY DINAMICA -->

    {{{ body }}}

    <!-- FIN SECCION BODY DINAMICA -->

    <!-- SECCION FOOTER ESTATICA -->

    <footer id="footer-section13" class="bg-dark-speech-blue padding-60px-tb xs-padding-40px-tb builder-bg">
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="col-md-3 col-sm-12 col-xs-12 sm-text-center sm-margin-five-bottom">
                    <a href="#home" class="inner-link"><img src="images/logo-white.png" data-img-size="(W)163px X (H)40px" alt=""></a>
                </div>
                <!-- end logo -->
                <!-- caption -->
                <div class="col-md-6 col-sm-12 col-xs-12 text-center sm-margin-five-bottom">
                    <div class="tz-text text-white text-medium sm-margin-two-bottom"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laudantium architecto maiores deserunt suscipit perferendis repellat.</p></div>
                </div>
                <!-- end caption -->
                <!-- social elements -->
                <div class="col-md-3 col-sm-12 col-xs-12 text-right sm-text-center social-icon">
                    <a href="#">
                        <i class="fa fa-facebook text-white tz-icon-color" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus text-white tz-icon-color" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter text-white tz-icon-color" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest text-white tz-icon-color" aria-hidden="true"></i>
                    </a>
                </div>
                <!-- end social elements -->
                <div class="col-md-12 col-sm-12 col-xs-12 display-table margin-six-top">
                    <div class="display-table-cell-vertical-middle text-center border-top-light padding-six-top tz-border">
                        <span class="text-extra-small tz-text text-blue-gray">© 2022 TELOALQUILO FUE DESARROLLADO POR <a class="text-blue-gray" href="http://www.wascode.com/">WAS CODE</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- FIN SECCION FOOTER ESTATICA -->
    <!-- javascript libraries -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/js/smooth-scroll.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <!-- owl carousel -->
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>        
    <!-- images loaded -->
    <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script type="text/javascript" src="/js/jquery.isotope.min.js"></script> 
    <!-- magnific popup -->
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
    <!-- navigation -->
    <script type="text/javascript" src="/js/jquery.nav.js"></script>
    <!-- equalize -->
    <script type="text/javascript" src="/js/equalize.min.js"></script>
    <!-- fit videos -->
    <script type="text/javascript" src="/js/jquery.fitvids.js"></script>
    <!-- number counter -->
    <script type="text/javascript" src="/js/jquery.countTo.js"></script>
    <!-- time counter  -->
    <script type="text/javascript" src="/js/counter.js"></script>
    <!-- twitter Fetcher  -->
    <script type="text/javascript" src="/js/twitterFetcher_min.js"></script>
    <!-- main -->
    <script type="text/javascript" src="/js/main.js"></script>
    
</body>
</html>